/* here you can put your own css to customize and override the theme */
.item-img {
  margin: 6px 0 25px;
}
.required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

.myimg-circle{
  width: 120px !important;
  height: 120px !important;
  webkit-border-radius: 50%;
}
